@import
/*****************************************/
/* BEGIN CSS */
/*****************************************/
/*
 * # id="one"
 * . class="two" 
    inline css ( html style attribute ) overrides css rules in style tag and css file
    a more specific selector takes precedence over a less specific one
    rules that appear later in the code override earlier rules if both have the same specificity.
    A css rule with !important always takes precedence.
 * */

/*GOOGLE FONT
<style>
<link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Charmonman|Raleway|Staatliches&display=swap" rel="stylesheet"> 
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Charmonman|Raleway|Staatliches&display=swap');
    font-family: 'Charmonman', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Beth Ellen', cursive;
</style> 
*/

/*****************************************/
/* BEGIN CSS RESET */
/*****************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/*****************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************************/
/* BEGIN IDs */
/*****************************************/

#quotation{
	font-family:'Charm';
}

#article_title{
        align-content: center;
    	font-family: 'Staatliches', cursive;
        font-size: 1em;
        vertical-align: baseline; 
}
#article_title1{
    align-content: center;
    font-family: 'Charmonman', cursive;
    font-size: 1em;
    vertical-align: baseline; 
}
/*****************************************/
/* BEGIN CLASSES */
/*****************************************/
.article{
    font-size:1.5em;
}
.base{	
    width: 60%;
    margin: 70px;
    padding: 70px;
    border: 1em; 
    font-family: 'Helvetica';
    font-size: 1em;
}

.base_resume{	
    margin: 150px;
    padding: 50px;
    border: 1em; 
    font-family: 'Bookman';
    font-size: 1em;
}
.smaller-base{	
    margin: 25px;
    padding: 25px;
    border: 1em; 
    font-family: 'Helvetica';
	font-size: 1.5em;
}
/* GLOBAL */
figure {
	display: inline-block;
	margin: 25px;
  padding: 25px;
  background-color:  #ddd;
}

#bannerimage {
  width: 100%;
  background-image: url(./img/banner.png);
  height: 300px;
  background-color: #ccc;
  background-position: center;
}

/*****************************************/
/* NAVIGATION BAR START */
/*****************************************/
 /* Navbar container */
 .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
/*****************************************/
/* NAVIGATION BAR END */
/*****************************************/

figure{
  background:white;

}