<!DOCTYPE html>
<html>
<head>
<!-- MODIFY
<title>Gil-Ryan: #</title>
<link rel="stylesheet" type="text/css" href="#/main.css" media="screen"/>
<link rel="icon" href="#/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="#/favicon.ico" type="image/x-icon"/>

<script src="#/main.js"></script> 
<canvas class="js-draw"></canvas>

<style>
@import url('https://fonts.googleapis.com/css?family=Charm|Raleway|Staatliches');
</style>
-->
</head>
<body>
<div class="base">
<a href="#"><h1>gil-ryan/</h1></a>
<!-- MODIFY -->
<br>
</div>
</body>
</html>
